form {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: inherit;
    border-style: none;

}

body {
    padding-bottom: 200px;
    background-image: url(https://images.ctfassets.net/hrltx12pl8hq/1fR5Y7KaK9puRmCDaIof7j/09e2b2b9eaf42d450aba695056793607/vector1.jpg);
    background-attachment: fixed;
}

#email {
    font-size: inherit;
}

#password {
    font-size: inherit;
}

#submit {
    font-size: inherit;
    background-color: goldenrod;

}

#user_name {
    padding-top: 10px;
}



h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}