form {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 25px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    margin-left: 400px;
    margin-right: 400px;
    background-color:white;

}

body {
    padding-bottom: 200px;
    background-image: url(picture/2pic.jpg);
    background-attachment: fixed;
}

#email {
    font-size: inherit;
}

#password {
    font-size: inherit;
}

#submit {
    font-size: inherit;
    background-color: goldenrod;

}

#user_name {
    padding-top: 10px;
}



h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}